*{
    margin: 0;
    padding: 0;
   }
   body{
    background-image: url(pic.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.navbar{
    background: rgb(110, 6, 50);
    height: 30px;
    width: 99%;
    margin: 0px auto;
}
.navbar ul{
    list-style-type: none;
    }

.navbar ul li{
    float: left;
    position: relative;
    width: 120px;
    line-height: 30px;
    text-align: center;
    border-right: 1px solid orange;
      
 }

.navbar ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: block;
    font-family: sans-serif;
    font-size: 15px;
    
    
   }
.navbar ul li a:hover {
    background-color: rgb(12, 12, 12);
    color: yellow;
    padding-left: 15px;
    transition:0.5s;
   
  }
.navbar ul ul{
    background-color: darkgreen;
    position: absolute;
    display: none;  
   }

.navbar ul li:hover>ul{
    display: block;
    }

.navbar ul li ul li{
    width: 180px;
    line-height: 30px;
    border-bottom: 1px dashed yellow;
   
     
 }

 .navbar ul ul ul{
    left: 180px;
    margin-top: -30px;
 }
 header{
    width: 100%;
    background-color: orangered;
}
header .contact{
    font-size: 10px;
    width: 30%;
    display: inline-block;

 }
 i{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
 }
